%h3.center Why Knowater
.container
  %p 
    Born out of the crippling California drought in 2015, KnoWater is a resource for families to get to know their water better. If you like what you've learned, and are taking steps to conserve water, we want to hear about it.  (Contact info.)

  %p
    v1.0.0 - current version of the application uses standard appliances and faucets to calculate gallon amounts. 
  %p
    next release will offer the option to select/set high efficiency options

  %p
    Thank you to https://icons8.com/ for use of their icons