.container
  .jumbotron
    %h1 KnoWater
    %p Learn Where Your water goes and How to track what you use daily

    = link_to "/auth/twitter", class: 'btn btn-social btn-lg btn-twitter btn-sm', role: 'button' do
      %i.fa.fa-twitter &nbsp;
      Sign in with Twitter

    = link_to "#", class: 'btn btn-social btn-lg btn-facebook btn-sm', role: 'button' do
      %i.fa.fa-twitter &nbsp;
      Sign in with Facebook

  %h3.text-center Take the Quiz
  %p blah blah blah
  %p Hello World

  %i.fa.fa-quote-left.fa-3x.pull-left.fa-border
  \...We never know the worth of water till the well is dry. ~Thomas Fuller, Gnomologia, 1732

   





/%h1 Do you Know Water?
/ %p Find me in app/views/welcome/index.html.haml
/ .col-sm-5
/   %p Sign in using social media
/   %p   
/     %a.btn.btn-social.btn-lg.btn-twitter{:href => "/auth/twitter", :role => "button"} 
/       %i.fa.fa-twitter &nbsp;
/       Sign in with Twitter
