%body.header-bg
  .container.center
  .container
    .row
    .col-md-12
      .jumbotron-transp
        %h1 KnoWater
        %h3.blue.align-center Make a Difference
        %p The average American uses more than 100 gallons of water daily   
        %p Do you know how much water you currently use?  
        %p
          %li Use the 
          / =link_to ("Log", choose_activity_path)to Track your daily usage
          %li Make little changes to Save Water 
          %li Pledge to Reduce 10% or even more
          %li Compare Past Use to Current Use

      .col-md-8.jumbotron-transp
        %ul.list-unstyled
          %i.fa.fa-quote-left.fa-3x.pull-left.fa-border
          %h4 We never know the worth of water till the well is dry. 
          %h5 ~Thomas Fuller, Gnomologia, 1732
          / %li.mbottom
          /   = link_to "/auth/twitter", class: 'btn btn-social btn-lg btn-twitter btn-sm', role: 'button' do
          /     %i.fa.fa-twitter &nbsp;
          /     Sign in with Twitter
        / %li
        /   = link_to "#", class: 'btn btn-social btn-lg btn-facebook btn-sm', role: 'button' do
        /     %i.fa.fa-twitter &nbsp;
        /     Sign in with Facebook

    / %h3.text-center No matter where you live, saving water at home can be a meaningful, easy and fun
    / %p blah blah blah
    / %p Hello World


     





/%h1 Do you Know Water?
/ %p Find me in app/views/welcome/index.html.haml
/ .col-sm-5
/   %p Sign in using social media
/   %p   
/     %a.btn.btn-social.btn-lg.btn-twitter{:href => "/auth/twitter", :role => "button"} 
/       %i.fa.fa-twitter &nbsp;
/       Sign in with Twitter
