%h1 Pages#Information
%p Find me in app/views/pages/Information.html.haml
.container
  .row
    .col-md-8
      %h1
        hey hey i span 3 coloumbs and bootstrap allows a maximum of 12
        so i have another 9 coloums more i can create and after that i will have to declare another
        "row " class , though i can declare the new row class in the same container
    .col-md-4
      %h1
        hey hey i span 3 coloumbs and bootstrap allows a maximum of 12
        so i have another 6 coloums more i can create 
    
    / now that we have used up all the 12 coloumbs in this row , lets go create a new "row class" , Alas in the same container
  / end of row
  .row
    .col-md-12
      %h1 I am a col , that spans the entire 12 coloumbs that this row had to offer , by now you should know that if you want to create another coloumb , you have to go create another "row" class