%body.header-saving
.container
  .row
    .col-md-8
      .jumbotron-transp
        %h3
          Water saving ideas:
        %p
          KnoWater is just the beginning. To learn more, visit some of these water conservation websites:
        %p
          Water Use it Wisely: 
          =link_to 'Water Use It Wisely', 'http://www.wateruseitwisely.com'
          (Arizona)
        %p
          Be Water Wise: 
          =link_to 'Be Water Wise', 'http://www.bewaterwise.com' 
          (Southern California)
        %p
          East Bay Municipal Water District: 
          =link_to 'Conservation Tips', 'https://www.ebmud.com/water-and-drought/conservation-and-rebates'
          (Northern California)
        %p
          Green Building:
          =link_to 'Environmental Protection Agency', 'ConserveWater.htm'
        %p
          National Geographic:
          =link_to 'National Geographic - When Snow Fails', 'http://www.nationalgeographic.com/west-snow-fail/' 
          (California Drought)
        %p
          Water Saving Information
          KnoWater reminds you that water conservation takes all forms.  The are simple actions you can take in your home, at your work place and in your community that can have dramatically positive consequences.  For example:
        %p          
          Short showers are better than baths, but WaterSense labeled faucets and appliances make a greater impact long-term
        %p
          Save by NOT watering your lawn in the hottest part of the day, or consider drought-resistant plants and a drip system to save even more.
          Carry a reusable water bottle.  It's healthier, and the amount of water to MAKE disposable plastic bottles is significant
        / %p
        /   For 97 more ideas, visit 
        /   =link_to 'WaterUseItWisely', 'http://www.WaterUseItWisely.com'

  / .row
  /   .col-md-12
  /     %h4 Links to more information
  /     %iframe{:frameborder => "0", :height => "285", :name => "wuiw-water-saving-tips", :scrolling => "no", :src => "http://wateruseitwisely.com/widget/", :width => "151"} Visit Wateruseitwisely.com/100-ways-to-conserve for water-saving tips!