
.container
  .row
    .col-md-8
      %h3
        Water saving ideas
        %p
          KnoWater is just the beginning. To learn more, visit some of these water conservation websites:
        %p
          Water Use It Wisely: www.WaterUseItWisely.com  (Arizona)
          Be Water Wise: www.bewaterwise.com (Southern California)
          East Bay Municipal Water District: https://www.ebmud.com/water-and-drought/conservation-and-rebates/ (Northern California)
          Conserving Water: http://www.epa.gov/greenhomes/ConserveWater.htm  (Environmental Protection Agency)
          National Geographic: http://www.nationalgeographic.com/west-snow-fail/ (California Drought)
        %p
          Water Saving Information
          KnoWater reminds you that water conservation takes all forms.  The are simple actions you can take in your home, at your work place and in your community that can have dramatically positive consequences.  For example:
        %p          
          Short showers are better than baths, but WaterSense labeled faucets and appliances make a greater impact long-term
        %p
          Save by NOT watering your lawn in the hottest part of the day, or consider drought-resistant plants and a drip system to save even more.
          Carry a reusable water bottle.  It's healthier, and the amount of water to MAKE disposable plastic bottles is significant

        For 97 more ideas, visit www.WaterUseItWisely.com.

  .row
    .col-md-12
      %h3 Helpful Links with Ideas for Saving
      %iframe{:frameborder => "0", :height => "285", :name => "wuiw-water-saving-tips", :scrolling => "no", :src => "http://wateruseitwisely.com/widget/", :width => "151"} Visit Wateruseitwisely.com/100-ways-to-conserve for water-saving tips!