// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-bg{
  background: image-url('9978873226_ea493c2797_o.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-saving{
  background: image-url('0_8bc83_b2082207_r1.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-choose{
  background: image-url('WaterBackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron-transp {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: black;
  /*background: rgb(0, 54, 54);*/
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  }
    /* all other browsers */
.navbar-default {
  background-color: #F8F8F8;
  border-color: #E7E7E7;
  }

.header-color{
  background-color: #87CEEB,
  }

.thumbnail-transp{
  background: rgba(0, 0, 0, 0);
  width: 50px;
  height: 50px;
  } 

.box{
  outline: 4px solid black;
  }

.center{
  text-align: center;
  }

.margin-left {
  position: relative;
  margin-left: 200px;
 }
