%body.header-color
.container
  .row
    .col-md-8
      - Activity::ACTIVITY_TYPES.each do |activity_type|
        .a.thumbnail-transp
        .container
        = link_to image_tag("activities/#{activity_type}.png"), log_path(activity_type)

        /title of image  
        = link_to activity_type, log_path(activity_type)
    .container
      .row
        .col-md-4
        %h1 Sidebar
        %p Today's Usage


