%h1 Activity#index
%p Find me in app/views/activity/index.html.haml

- current_user.activities.each do |activity|
  %p
    You took a #{activity.per_use} minute #{activity.activity_type}
    /tie to current date
