.container
  .row
    .col-md-8
      %h3.align-center.blue View Previous Logs
      %form.form-inline
        #date-range.input-group
          %input.form-control.date-picker{:type => "text", :name => "start"} 
          %span.input-group-addon to
          %input.form-control.date-picker{:type => "text", :name => "end"} 
          %span.input-group-addon
            %i.glyphicon.glyphicon-calendar
        .input-group
          %input.btn.btn-default{type: "submit", value: "GO!!!"}
.container
  .row
    .col-md-8
      - Activity::ACTIVITY_TYPES.each do |activity_type|
        .col-md-4

    .col-md-4.box
      %h5 Today's Usage
      - current_user.activities.each do |activity|
        %p
          You took a #{activity.per_use} minute #{activity.activity_type}
      - Activity.today  