.container
  %h1 Log Water Use
  .container
  %p
    = render partial: "activities/forms/#{params[:activity_type]}"


/how do i save without submitting? => new view with form and redirect
/how can i change "shower label" to image/icon?
/why do i want the "shower" label hidden?
