%nav.navbar.navbar-default
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand KnoWater
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "/welcome/about"}
            About
            %span.sr-only (current)
        %li.active
          %a{:href => "/"}
            Home
            %span.sr-only (current)
        %li
          %a{:href => "/pages/saving_tips"}
            Saving Tips
            %span.sr-only(current)
        %li
          %a{:href => "/activities/index"}
            Compare
            %span.sr-only(current)            
        %li
          %a{:href => "/log"}
            Log
            %span.sr-only(current)

      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %p.navbar-text.navbar-right
            Hello #{current_user.name} !
            = link_to 'Sign out', signout_path
        - else
          %p.navbar-right
            = link_to "/auth/twitter", class: 'btn btn-social btn-lg btn-twitter btn-sm', role: 'button', style: "margin-top: 10px;" do
              %i.fa.fa-twitter &nbsp;
              Sign in with Twitter
    / /.navbar-collapse
  / /.container-fluid